.sidebar header {
    border-bottom: 1px solid var(--border);
    margin: 10px;
    padding-bottom: 10px;
}
.sidebar .mobile-toggle {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 5;
    background-color: var(--bg);
}
.sidebar.hidden .mobile-toggle {
    right: calc(100% + 45px);
    opacity: 0.1;
    transition-delay: 1s;
    transition: opacity 0.5s linear;
}
.sidebar.hidden .mobile-toggle:hover {
    opacity: 1 !important;
}


@media screen and (min-width: 1001px) {
    .mobile-toggle {
        display: none;
    }
}