.video-outer {
    height: calc(70vw * 0.5625);
    max-height: 100%;
    background-color: #000;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
main {
    max-width: 70vw;
}

@media screen and (max-width: 1000px) {
    main {
        flex-grow: 1;
        max-width: unset;
    }
    .video-outer {
        width: 100%;
        height: calc(100vw * 0.5625);
    }
}