.video-outer {
    height: calc(70vw * 0.5625);
    max-height: calc(100vh - 20px);
    background-color: #000;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
main {
    max-width: 70vw;
}