.sidebar {
    border: 1px solid var(--border);
    min-width: 290px;
    width: 30vw;
    flex-grow: 1;
    border-radius: 5px;
    padding: 5px;

    display: flex;
    flex-direction: column;
}

footer {
    color: var(--subdued)
}

@media screen and (max-width: 1000px) {
    .sidebar {
        position: absolute;
        right: 10px;
        top: 0;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        z-index: 5;
        background-color: var(--bg);
    }
    .sidebar.hidden {
        right: -100%;
    }
}
